<div class="custom-popup-wrapper" ng-show="isOpen() && !moveInProgress" aria-hidden="{{!isOpen()}}">
    <p class="popup-headers text-primary" ng-if="$parent.catalogSearch.productData.length">Products</p>
    <div class="products-popup-results">
        <ul class="dropdown-menu" role="listbox">
            <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                <div ng-if="match.model.NameType==='Product'" uib-typeahead-match index="$index" match="match" query="query" ></div>
            </li>
        </ul>
    </div>
    <p class="popup-headers text-primary" ng-if="$parent.catalogSearch.categoryData.length">Categories</p>
    <div class="categories-popup-results">
        <ul class="dropdown-menu" role="listbox">
            <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
                ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                <div ng-if="match.model.NameType==='Category'" uib-typeahead-match index="$index" match="match" query="query"></div>
            </li>
        </ul>
    </div>
</div>
